@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(68, 2, 68);
}
main{
    background-color: white;
    margin: auto;
    width: 300px;
    border-radius: 10px;
    box-shadow: 5px 5px 0pc rgb(56, 1, 56);
    margin-top: 150px;
    
    

}

main h1{
    text-align: center;
}

main div#topo{
    background: url(../pexels-tatiana-fet-1105766.jpg);
    height: 250px;
    border-radius: 10px;

}
div{
    padding: 10px;
    position: relative;
}
div#login{
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(68, 2, 68);
    border-radius: 10px;
    padding: 0px;
    
}

#idlogin{
    background-color: lightblue;
    height: 35px;
    width: 250px;
    border-radius: 10px;
    
    
}

#spanlogin{
    font-size: 5px;
    color: white;
    
}
div#senha{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(68, 2, 68);
    border-radius: 10px;
    padding: 0px;
   
}
#idsenha{
    background-color: lightblue;
    height: 35px;
    width: 247px;
    border-radius: 10px;
    
}
#spansenha{
    padding: 0px;
    color: white;
}

p{
    padding: 0px 10px;
    margin-bottom: 5px;
}

#entrar{
    background-color: rgb(57, 167, 157);
    color: white;
    height: 45px;
    width: 280px;
    border-radius: 10px;
    
    
}

#divdeentrar{
    padding-bottom:0px ;
}

#esqueci{
    background-color: rgb(255, 255, 255);
    color: rgb(57, 167, 157);
    height: 45px;
    width: 280px;
    border-radius: 10px;
    
}